<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 22rem;">
        <h3 class="text-center mb-4">Login</h3>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" />
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    class="text-danger small">
                    A valid email is required
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                    placeholder="Password" />
                <div *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched"
                    class="text-danger small">
                    Password is required
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

            <div class="text-center mt-3">
                <p class="mb-0">
                    Not a member?
                    <a href="#" (click)="navigateToSignup($event)" class="text-decoration-none">Register</a>
                </p>
            </div>
        </form>

        <p class="text-center mt-3">
            <a href="#">Forgot password?</a>
        </p>
    </div>
</div>