<div class="friends-container">
    <div class="friends">
        <div class="result-item" *ngFor="let friend of friends">
            <img [src]="friend.image" alt="profile" class="avatar" />
            <div class="friend-info">
                <div class="fullName">{{ friend.fullName }}</div>
                <div class="email">{{ friend.email }}</div>
            </div>
            <p-button label="Remove" severity="danger" [rounded]="true" styleClass="my-btn"
                (click)="removeFriend(friend.id!)">
            </p-button>
            <p-button icon="pi pi-comment" [rounded]="true" severity="info" (click)="openChat(friend.id!)">
            </p-button>
        </div>
    </div>

    <div class="pagination">
        <button (click)="prevPage()" [disabled]="page === 1">⬅ Prev</button>
        <span>Page {{ page }}</span>
        <button (click)="nextPage()" [disabled]="friends.length < 10">Next ➡</button>
    </div>
</div>