<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 26rem;">
        <h3 class="text-center mb-4">Sign Up</h3>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName"
                        placeholder="Enter first name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName"
                        placeholder="Enter last name">
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
            </div>

            <div class="mb-3">
                <label for="mobilePhone" class="form-label">Mobile Phone</label>
                <input type="tel" class="form-control" id="mobilePhone" formControlName="mobilePhone"
                    placeholder="Enter your mobile phone">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Profile Image</label>
                <input type="file" class="form-control" id="image" (change)="onFileChange($event)">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                    placeholder="Password">
            </div>

            <button type="submit" class="btn w-100"
                style="background: linear-gradient(135deg, #007bff, #0056b3); border: none; color: white; font-weight: 500; padding: 12px; border-radius: 8px;">Sign
                Up</button>
        </form>

    </div>
</div>