<div class="home-wrapper">
  <div class="sidebar">
    <button routerLink="/home/search" routerLinkActive="active" class="icon-btn">🔍</button>
    <button routerLink="/home/friends" routerLinkActive="active">Friends</button>
    <button routerLink="/home/groups" routerLinkActive="active">Groups</button>
    <button routerLink="/home/requests" routerLinkActive="active">Requests</button>
    <button routerLink="/home/update-profile" routerLinkActive="active">Account</button>
    <button (click)="logout()">Logout</button>
  </div>
  <div class="content">
    <app-call-notification></app-call-notification>
    <router-outlet></router-outlet>
  </div>
</div>